[2018-12-12 23:52] andresmanikis opened #2 "Swipe does not feel entirely native on iOS"
Hey, impressive work with this library. By far, the best one among the ones I took a look of. The only thing I noticed is that when you swipe between images it doesn't feel entirely natural, at least in iOS. I think the speed at which the images scroll is a bit slow. I'd expect them to move much faster.

Here's a video in which I try to make this point as clear as possible (sorry I can't upload th

[2018-12-13 22:48] Luehang commented on #2
Hi, thanks for trying to point that out.  It is normal for the scroller to react like that, because the animation is suppose to land softly and slowly to the end when it is being "flinged."  If you try shorter and slower swipe and release to the left and right, it will be a lot faster and there will be no cushion at the end.

[2018-12-14 22:05] #2 closed

[2018-12-19 17:36] Luehang commented on #2
Hi, I just updated this package, and if you would like you can disable the intelligent detection that "cushion" or slow down a rough swipe at the end.

Props | Description | Type | Default
------ | ------ | ------ | ------
`sensitiveScroll` | Whether to enable an intelligent detection to detect rough and fast swiping gestures in order to "cushion" or slow down a swipe at the end. **Version ^1.4.0

[2019-02-14 19:27] pierol opened #3 "How can i set resizeMode of single image of the Gallery"
Hi, thank you in advance for your good work and for sharing this wonderful package. I'm using it in a React Native/Expo project where i have a ListView od News. With your package i  can attached to a news more than one pic. My  question is how can i set the resizeMode of the single image so that it cover all the view of the GallerySwipper component.

[2019-02-15 01:05] Luehang commented on #3
Hi,

You can use the `imageComponent` prop for a custom image.  An example is also given.  Please give a star for this package if you like it!  Thanks in advance!

Props | Description | Type | Default
------ | ------ | ------ | ------
`imageComponent` | Custom function to render your images. `(imageProps: { imageLoaded: Boolean, source: object, image: object, style: Array<object>, resizeMode: stri

[2019-02-15 01:05] #3 closed

[2019-02-18 14:39] lxndr opened #4 "Scrolling is slow and laggy."
Hi.
I experience quite laggish behavior while scrolling left and right. I noticed that the image component re-renders really often and that could be the cause of the lags. I also noticed that renderRow is called constantly while swiping.

[2019-02-19 13:39] Luehang commented on #4
Hi,

<br/>

I will take your feedback and help improve this package. Thanks for the input. Much needed.

This free open source package has not been improved often, and I have not had the time to look into the root of these issues you claim. Sooner or later in the future, there will be a lot of improvements and updates you will be seeing.

A little about the scrolling... It is normal for the scroll

[2019-02-19 13:39] #4 closed

[2019-03-01 01:28] jamesether opened #5 "No /src/ folder when installing through Yarn"
Hey,

Thank you for the library, it seems to be working great.

In one of the recent updates it appears the `src` folder has disappeared when installing through Yarn. Grabbing it from the repo and putting it in the `node_modules/react-native-gallery-swiper` directory fixes the issue.

Thanks!

[2019-03-01 12:01] Luehang commented on #5
Hi,

Thanks for letting me know.  The next update fixes that issue.

## :large_blue_diamond: Install

Type in the following to the command line to install the dependency.

[code]

or

[code]

[2019-03-01 12:01] #5 closed

[2019-03-10 13:58] Akariiiii opened #6 "[Feature Request] is it possible to add more image urls at the begin ?"
I'm using the gallery to dynamic load image from website. I have to function to add more data for the array url (next and previous). Next will add more url at the end and previous will add more url at the beginning of the array url. Adding more url is fine since it just continue to the next image and doesn't mess up the index (current page) but adding at the beginning will mess up the index (for e

[2019-03-14 16:16] alainib opened #7 "initialPage higher than 5 make the component freeze"
On android (not tested yet on ios) there is a bug when initialPage is used

	<GallerySwiper
           style={{ flex: 1, backgroundColor: Config.colors.background }}
           images={this.state.images}
           sensitiveScroll={false}
           onPageSelected={this.onChangeImage}
           initialPage={this.props.initialPage}
        />

- _if this.props.initialPage < 4 it work good
-  if th

[2019-03-14 18:43] Luehang commented on #7
Hi,

To solve this issue, change the `initialNumToRender` to match the initial page.

[2019-03-14 18:43] #7 closed

[2019-03-14 18:54] Luehang commented on #5
If you like `react-native-gallery-swiper`, be sure to give it a star!  Thanks.

[2019-03-14 18:57] Luehang commented on #4
Hi,

There has been a new update and solution to this problem.  Check out the new update.  The image component now only renders a `imageLoaded` to `true` and renders the `image` once.  If you like `react-native-gallery-swiper`, be sure to give it a star!  Thanks.

<br/>

## :large_blue_diamond: Performance Optimization List Example

[code]

[2019-03-15 09:27] alainib commented on #7
hello

thank's for the tips.
my `initialPage` can be very big like 200-300 , so init `initialNumToRender` with it make the component freeze

[2019-03-15 16:26] Luehang commented on #7
Unfortunately, it does not support large numbers in `initialPage`, but it is performant and efficient for rendering large lists ranging from hundreds to thousands.

[2019-04-11 07:25] james1888 opened #8 "[FEATURE REQUEST] onSwipeDown event"

[2019-04-17 08:00] patik opened #9 "Example project does not run"
I'm on a Mac with the latest MacOS, XCode 3.2, and Node 11.4. The iOS simulator is launched shortly before the script fails in the terminal. I tried running the .xcodeproj file in XCode but it has ~50 errors when attempting to build.

I get the following output when I try to run the example project per the readme instructions:

[code]

Here is the NPM debug log:

[code]

[2019-04-17 13:02] Luehang commented on #9
Hi patik,

`react-native-gallery-swiper` is constantly being updated and the example project just hasn't been updating with it constantly.  To temporarily fix this problem, paste the following codes to your project.

## :watch: Performance Optimization List Example

[code]

<br/>

The example project will be looked at soon and will be fix and updated.

[2019-04-17 13:02] #9 closed

[2019-04-29 05:38] ibu2710 commented on #7
@alainib  Have you fixed this issue. Or how you managed this scenario. I am struggling with this. Please do suggest me a solution

[2019-04-29 07:38] alainib commented on #7
i don't use this package anymore

i copied source code of https://github.com/archriss/react-native-image-gallery   V 2.1.4  and edited it (wrong import of PropTypes , should be `import PropTypes from "prop-types";` )
there is the same bug in version v 2.1.5  so i stick to 2.1.4 ( don't checked if there is higher and working version )

[2019-04-29 07:51] ibu2710 commented on #7
Thank you for your kind information.  Could you able to send me that File which you had edited?

mohamedibrahim2710@gmail.com

[2019-04-30 15:57] Luehang commented on #7
https://github.com/Luehang/react-native-smart-gallery  In the open source development community, there isn't a single React Native gallery that can efficiently render a very large list of images with the initial index being placed anywhere in the list of images while supporting both Android and iOS. This gallery solves all that along with gestures and important event listeners for pan, pinch, sing

[2019-05-13 18:20] asasouza commented on #8
Hi @james1888 , you can use the `onTransformGestureReleased` prop to make an SwipeDown-like event. You can pass a function that receives the a `translate` object, observe the translateY value to fire the action that you want. For example:

`
	_handleTransform = (transform) => {
		const { scale, translateX: x, translateY: y } = transform;
		if (scale === 1 && (y < -90 || y > 90)) { // check if the

[2019-05-20 17:41] weraaaaz opened #10 "enableTranslate, enableScale"
`enableTranslate={false}
enableScale={false}`
doesn't work.

[2019-05-20 17:44] #10 closed

[2019-05-22 09:37] suretarget commented on #8
Hi @asasouza, I try implement as you suggested but I don't know how to get a translate object. Can you show me an example. Thanks.

[2019-05-22 13:49] asasouza commented on #8
Hello @suretarget, here is a simpler version of the  code I wrote to use the react-native-gallery-swiper as a component with custom functions in many places of my app. I hope this can solve your problem.
[code]

[2019-05-23 12:26] suretarget commented on #8
Thank you @asasouza

[2019-06-01 18:55] jmn opened #11 "initialPage not working"
I can't seem to get the initialPage prop working. The gallery always starts at index 0, I tried setting the initialNumToRender to the same number but it didn't help. I've tested on Android only.

[2019-06-02 22:43] Luehang commented on #11
Hi.  Can I see an example of your codes?

[2019-06-02 22:49] Luehang commented on #11
The `initialNumToRender` starts at index 1.

[2019-06-02 22:49] #11 closed

[2019-06-03 07:29] jmn commented on #11
Sorry, I tried setting the initialNumToRender at index +1 but still initialPage didn't work.

[2019-06-10 01:45] rezapiryghadim opened #12 "how to chnage images array with state"
I want change images array of gallery after a while

 i tried i read images array from my state's that's changing but slider fixed in first image array .

how can i reset gallery images ?

my code

`
<GallerySwiper
                                                           refPage={(component) => (this.gallerySwiper = component)}
                                                           style={{b

[2019-06-10 02:22] Luehang commented on #11
Hi, sorry about the late reply.  I don't think the `initialNumToRender` prop is dynamic.  `react-native-gallery-swiper` uses `FlatList` underneath the hood.  It sounds like you are trying to dynamically change it.  You can use this other module for initial page rendering.  [`react-native-smart-gallery`](https://github.com/Luehang/react-native-smart-gallery).

[2019-06-10 03:12] Luehang commented on #12
Hi,

For iOS, you can dynamically change the index for `initialPage` prop.  For a better experience on iOS and Android, you can use the methods provided or another alternative is to use the `refPage` prop.  Read the documentation for further instructions.

[2019-06-10 03:12] #12 closed

[2019-06-25 13:31] Frekansapp opened #13 "Serious performance problem"
After 20 image component getting very poor performance. Can you try https://github.com/Flipkart/recyclerlistview instead of using Flatlist.

[2019-06-25 13:40] Luehang commented on #13
Hi @Frekansapp,

This was solved a long time ago.  I decided to create another gallery that uses minimal rendering at one time and the initial index can be placed anywhere.  It's recommended for very large lists (100s to 1000s). Visit [react-native-smart-gallery](https://github.com/Luehang/react-native-smart-gallery).

[2019-06-25 13:40] #13 closed

[2019-06-25 13:47] Luehang commented on #13
I will also look at `recyclerlistview` to see if the performance is good and if it can fit with the gallery.    It will have to be better than [`react-native-smart-gallery`](https://github.com/Luehang/react-native-smart-gallery)'s scroller.

[2019-06-25 13:54] Frekansapp commented on #13
@Luehang thank you for quick answer. recyclerlistview realy performant solution but I have a problem I encountered. https://github.com/Flipkart/recyclerlistview/issues/333 if this issue not affect your use-case you can try it.

[2019-06-25 20:59] abrenoch commented on #13
@Luehang

What is the difference between `react-native-smart-gallery` and this one? I'm trying out this component and am finding that the behavior when swiping between pages isn't all that great - Pages frequently get stuck or fail to snap to the selected page.

[2019-07-04 02:24] csyaonie opened #14 "[LOOK INTO] Sometimes image can not zoom and double click doesn't work both on Android and iOS."
double click function not work,when i use two finger to zoom the image,it back to origin size immediately when move up

双击图片 有时候无法放大，我滑动几下 又回来 这张图片又可以 放大了，双击无法放大的图片再用双指放大 图片有变大 手放开马上又回去了

[2019-07-16 01:54] Luehang commented on #14
Hi,

Can you provide your code that you use, package version and which platform along with anything else that is useful?

[2019-07-27 07:19] Appdevsoft opened #15 "[BUG]"
Used Latest version, but not worked if image array contains more than 10 or 20 or 50. Totally time waste.

1. can't swipe left or right
2.  initialPage not loaded correctly

[2019-07-27 09:59] Appdevsoft opened #16 "Help"
How to use imageComponent. Please give me an some example

[2019-07-27 10:09] Appdevsoft commented on #16
Please give me an example for imageComponent

[2019-07-29 01:06] Luehang commented on #16
Hi,

You can use the `imageComponent` prop for a custom image.  An example is given below.  **Please give a star for this package if you like it.**  Thanks.

<br/>

---

<br/>

## :large_blue_diamond: Prop

Props | Description | Type | Default
------ | ------ | ------ | ------
`imageComponent` | Custom function to render your images. `(imageProps: { imageLoaded: Boolean, source: object, image: obj

[2019-07-29 01:06] #16 closed

[2019-07-29 01:18] Luehang commented on #15
Hi,

It works fine on both iOS and Android.  Which OS version did you use it on?

[2019-07-29 01:18] #15 closed

[2019-07-29 13:19] Luehang commented on #15
This issues has been close because it is not causing that current issue when being tested both on iOS and Android.  Please fill out the entire formatted form for the issue for a thorough detail of the occurring issue.

[2019-07-31 00:24] migueldaipre opened #17 "[QUESTION] Help on implementing FastImage in imageComponent"
Help on how I can render the image with Fast Image (lib react-native-fast-image) in Prop imageComponent, it is behaving differently than expected.

Thank you.

[2019-08-02 12:58] Appdevsoft opened #18 "[QUESTION]"
How to reload the whole viewer?

[2019-08-05 10:47] philipphecht opened #19 "[QUESTION]"
**To Do First**
- [ ] Take a look in the [README](https://github.com/Luehang/react-native-gallery-swiper/blob/master/README.md)
- [ ] Take a look in the [docs](https://luehangs.site/lue_hang/projects/react-native-gallery-swiper)

**Ask your Question**
Do the plugin supports Orientation in Landscape and Portrait? I tried it when i change from Portrait to Lanscape the gallery don't work correctly?

[2019-08-15 14:10] MSchmidt opened #20 "[FEATURE REQUEST] Pass page style"
I'd like to have pages within the gallery-swiper to take only part of the screen, so that the user can already see a little bit of the next page. For that it would be necessary to adjust the style of a single page element.

[2019-08-20 19:17] MaximusBaton opened #21 "[BUG] After changing orientation, the sizes and positioning broken"
**To Do First**
- [x] Did you try latest release?
- [x] Did you look for existing matching issues?

**Software Package Version:**
    Android (but I believe iOS as well)
    "react": "16.8.3",
    "react-native": "^0.59.9",

**Describe the bug**
subj

**To Reproduce**
Install, setup, rotate the device to change the orientation.

**Expected behavior**

[2019-08-21 07:39] MaximusBaton commented on #19
@philipphecht did you find an alternative to this lib?

I tried nearly 5 of available and non was working smoothly as this does. BUT this one has problems with orientation.

[2019-08-21 07:40] MaximusBaton commented on #21
The problem comes from one of your million "one-file" libs

[2019-09-06 06:15] rajtejani opened #22 "how to hide scroll[Question]"

[2019-09-06 12:33] #22 closed

[2019-09-09 16:05] philipphecht commented on #19
This one works but it is very old: https://github.com/ldn0x7dc/react-native-gallery

[2019-09-10 02:18] Luehang commented on #19
Some galleries are locked in one orientation, and orientation support re-renders (unnecessary) the gallery a lot which causes the slowness in most galleries.  It will be an option in the future and it will be optimized.

[2019-09-10 17:20] swag-overflow commented on #21
Same here on iOS and android. Any news or workarounds ?

[2019-09-20 17:00] swag-overflow commented on #21
I've wrote an workaround if somebody wants to use the GallerySwiper as a fullscreen component (this is my use case so I've just tested it for this circumstances). This is just a workaround and hopefully there will be a fix provided by this package.

[code]

[2019-09-24 15:56] Luehang commented on #21
Hey guys,

There has been a new update that solves the orientation changes issue while sacrificing little performance.  Please update package to version `^1.23.0`.

If you like [`react-native-gallery-swiper`](https://github.com/Luehang/react-native-gallery-swiper), please be sure to give it a star at [GitHub](https://github.com/Luehang/react-native-gallery-swiper). Thanks.

## :gem: Update

Type i

[2019-09-24 15:56] #21 closed

[2019-09-24 15:56] Luehang commented on #19
Hey guys,

There has been a new update that solves the orientation changes issue while sacrificing little performance.  Please update package to version `^1.23.0`.

If you like [`react-native-gallery-swiper`](https://github.com/Luehang/react-native-gallery-swiper), please be sure to give it a star at [GitHub](https://github.com/Luehang/react-native-gallery-swiper). Thanks.

## :gem: Update

Type i

[2019-09-24 15:56] #19 closed

[2019-09-27 16:07] #8 closed

[2019-10-06 10:06] csyaonie opened #23 "你这个组件安卓下 卡成狗没法用啊，it is really ka on android devices"

[2019-10-09 09:26] sunyuting83 commented on #23
确实卡成狗。
兄弟，你试试这个。
https://github.com/kpReactComponent/react-native-kpframework-gallery
这个我一直加载转圈圈。
"react-native": "0.60.5"

[2019-11-07 08:13] 1appstudio opened #24 "ErrorComponent"
How can i use error component? Please tell me the working code

[2019-11-09 05:29] DarkbaronHUST opened #25 "[QUESTION] How to use refPage Props : flingToPage and scrollToPage ?"
Can you give me a clearly example of using refPage and this.gallerySwiper.scrollToPage ?
I'm writing a button (next and perious button) that can be used to view image ( instead of swipe to view image), but i can not know exact how to use Props: refPage with "scrollToPage" function.
Can you help me?
Thanks all !

[2019-11-09 05:36] DarkbaronHUST commented on #25
Haha ! That my mistake. i'm not using arrow funtion to call ref so i get error : scrollToPage is undefined.
So sorry about that !

[2019-11-09 05:36] #25 closed

[2019-11-18 09:48] infostreams commented on #8
Awesome, thank you so much! I think this should be either

a) default behavior ('swipe to close' is sooooooo common)
or
b) in the README documentation

Nevertheless, great job, and many thanks for this nice library @Luehang - even though you should really really credit https://github.com/archriss/react-native-image-gallery because it seems you have quite a... ehm... overlap in code. At least ackno

[2019-11-29 12:06] KestasVenslauskas opened #26 "[BUG] initialPage not working"
- [x] Did you try latest release?
YES
- [x] Did you look for existing matching issues?
YES

**Software Package Version:1.23.1**

**Describe the bug**
When setting 'initialPage' prop component just hangs. If you have like 3-4 images thats ok. But in my case I have 20+ images and if I set initialPage > 5 it hangs.

**To Reproduce**
Steps to reproduce the behavior:
1. Add many images
2. Set initialPa

[2019-12-16 10:13] AlkanV opened #27 "How to persist zoom state"
Hello,
Firstly, thank you for this package. It is working like a charm.

But i have a little problem with it. When i zoom an image, after releasing my fingers, zoom state returns to initial one. Which means the image i zoomed, is not stay zoomed. Is there any way to solve this problem?

[2019-12-31 06:42] fattomhk opened #33 "[BUG] source in imageProps is undefined"
**To Do First**
- [ Y ] Did you try latest release?
- [ Y ] Did you look for existing matching issues?

**Software Package Version:**
"react-native": "0.61.5",
"react-native-gallery-swiper": "^1.24.1",

**Describe the bug**
Cannot load image at the beginning, the I add imageComponent for debug.
The source in imageProps is undefined.

**To Reproduce**
[code]

**Expected behavior**
source exists.

[2020-01-08 08:00] meienberger opened #34 "[QUESTION] Gallery is not re-rendering when images array is changed"
I'm trying to dynamically change the images in the Gallery by having my images array stored in the state.

My problem is when the state changes the Gallery is not re-rendered. I even tried to use the `flatListProps` and passing my images array as `extraData` but it's still not working.

How am I supposed to achieve this ?

Thanks for your help

[2020-01-12 07:05] kirhim opened #35 "How to disable swiping"
Thank you very much for the library I love this. You saved me a lot of time :)

I got one question though.

Is it possible to disable swiping?

I need to conditionally change the swiping state.

[2020-01-14 02:03] fattomhk commented on #7
For anyone getting this issue, you might consider using initialScrollIndex if you do not want to render the images before.

[2020-01-18 19:56] Luehang commented on #26
Hi,

Have you tried changing the `initialNumToRender` prop?  Depending on your initial page index,  `initialNumToRender` will have to be equal to or greater than.

Props | Description | Type | Default
------ | ------ | ------ | ------
`initialNumToRender` | How many items to render in the initial batch. **Version \*1.3.0 update**. | `number` | `3`

[2020-01-18 19:56] #26 closed

[2020-01-21 08:09] meienberger commented on #34
The issue is the custom keyExtractor inside `react-native-page-list` (used by this library) I just commented it out and it's working as expected.

[code]

[2020-02-06 15:30] baijii opened #37 "[BUG] initialPage not setting correctly"
**To Do First**
- [x] Did you try latest release?
- [x] Did you look for existing matching issues?

**Software Package Version:**
1.25.2

**Describe the bug**
As I set the `initialPage` prop to greater 0, the first image is still be displayed. The current page is displayed as expected in the footer component.

My Test Data:
[code]

My Gallery View:
[code]

**To Reproduce**
1. Add Gallery with 2 im

[2020-02-17 06:58] ngocht143 commented on #37
In my case, i use method `scrollToPage` to jump to expected image

[2020-02-19 08:15] ngocht143 commented on #27
i faced with same problem @Luehang, please check it, thanks

[2020-02-21 12:17] AlkanV commented on #27
@ngocht143 i changed the package and start using react-native-image-zoom-viewer it works seamlessly good.

[2020-02-23 19:01] pburdynski commented on #37
@ngocht143 could you show how you do it?

[2020-02-24 04:37] ngocht143 commented on #37
You should declare a`refPage` (in my case is 'gallerySwiper'), then call it when you have the image's position you want as:
`this.gallerySwiper.scrollToPage(currentPosition - 1, false)`

[2020-02-24 06:48] ngocht143 commented on #27
@AlkanV can you share what you did with react-native-image-zoom-viewer?

[2020-02-24 06:57] AlkanV commented on #27
What do you mean by that? I downloaded package (i.e yarn add) then i used it as instructions says.

[2020-02-24 07:05] ngocht143 commented on #27
I used the props `imageComponent` but the react-native-image-zoom-viewer use an array of images, so i dont know how to pass each image to get zoomable

[2020-02-24 11:29] pburdynski commented on #37
Does it work for you if target position is above initialNumToRender? By using both initialPage and scrollToPage I will be taken to the last item rendered, so the only way to make it work is to set initialNumToRender = initialPage+1, which completely defeats purpose of initialNumToRender (which is extremely powerful for large lists).
I've read documentation of flatlist (on which this lib is based)

[2020-02-25 03:03] #37 closed

[2020-02-25 03:13] Luehang commented on #27
Hey guys,

Can I get an example code that was used?

[2020-02-25 03:31] ngocht143 commented on #27
@Luehang this is my code:
`<SafeAreaView style={{flex: 1, justifyContent: 'center'}}>
                <Gallery
                    refPage={(component) => (this.gallerySwiper = component)}
                    style={{flex: 1, justifyContent: 'center'}}
                    images={this.state.listImage}
                    onSwipeUpReleased={this.onClose}
                    onSwipeDownReleased={thi

[2020-02-25 03:41] Luehang commented on #33
Hi,

Sorry about the late reply.  This was just tested and it seems to be working with no bugs. The current version used for testing this is `^1.25.2`.  Please check out the example project if you are looking for an example that can be customized without all the other custom codes.

[2020-02-25 03:41] #33 closed

[2020-02-25 03:53] Luehang commented on #27
Hi,

This actually isn't a bug.  Under the hood, it is using `Math.max(imageWidth / viewWidth, imageHeight / viewHeight)`.

# :books: Props

Props | Description | Type | Default
------ | ------ | ------ | ------
`maxScale` | Max zoom (view transformer). **Version \*1.17.0 update**. | `number` | `Math.max(imageWidth / viewWidth, imageHeight / viewHeight)`

To zoom for this tiny image, set the prop

[2020-02-25 03:53] #27 closed

[2020-02-25 03:56] Luehang commented on #27
If you like [`react-native-gallery-swiper`](https://github.com/Luehang/react-native-gallery-swiper), please be sure to give it a star at [GitHub](https://github.com/Luehang/react-native-gallery-swiper). Thanks.

[2020-02-25 04:13] Luehang commented on #14
Hi,

This actually isn't a bug.  The original image size is too small.  Under the hood, it is using `Math.max(imageWidth / viewWidth, imageHeight / viewHeight)`.

# :books: Props

Props | Description | Type | Default
------ | ------ | ------ | ------
`maxScale` | Max zoom (view transformer). **Version \*1.17.0 update**. | `number` | `Math.max(imageWidth / viewWidth, imageHeight / viewHeight)`

To

[2020-02-25 04:13] #14 closed

[2020-02-25 04:14] Luehang commented on #14
If you like [`react-native-gallery-swiper`](https://github.com/Luehang/react-native-gallery-swiper), please be sure to give it a star at [GitHub](https://github.com/Luehang/react-native-gallery-swiper). Thanks.

[2020-02-25 05:46] fattomhk commented on #33
Yes, it is fixed after upgrading to latest version

[2020-02-26 16:38] lamaalqasem opened #38 "[QUESTION] asks me to provide dimensions although I did."
- [Y] Take a look in the [README](https://github.com/Luehang/react-native-gallery-swiper/blob/master/README.md)
- [Y] Take a look in the [docs](https://luehangs.site/lue_hang/projects/react-native-gallery-swiper)

**Question:**
I have an initially empty array that are filled by requesting images from Places API from google. The fetching works fine and the array is:
`{ uri: 'https://lh3.googleuserc

[2020-02-27 08:12] ngocht143 commented on #27
Hello @Luehang, i still get issue with zoomable feature: When i use FastImage instead of Image in `imageComponent`, then i zoom an image, after releasing my fingers, zoom state returns to initial one. Which means the image i zoomed, is not stay zoomed. This is my code:
`maxScale={20}
  imageComponent={(imageProps, imageDimensions, index) => {
                        return (

[2020-02-27 08:17] Richi2293 opened #39 "[BUG]"
**To Do First**
- [x] Did you try latest release?
- [x] Did you look for existing matching issues?

**Software Package Version:**
"react-native-gallery-swiper": "1.25.2"

**Describe the bug**

The problem is that I have a flatlist that renders many items, within these items there is the component for the image slider.
Scrolling if I press in the sliders I will not be able to go down the list but I

[2020-02-27 15:09] baijii commented on #37
Thank you @ngocht143 , haven't thought of `scrollToPage`.  I got it working. It was still work to be compatible with hooks.
In my case, it would only work if the second `animated` param is set to true. Don't know why, but it works for me now.

Here's my solution (in parts) for maybe someone else is struggeling:
[code]

[2020-03-04 12:59] marcesdan opened #40 "[FEATURE REQUEST] Back button"
Hello!

Maybe some IOs users cannot intuit that they have to slide to close the "modal"

I think it would be nice to add a back button (maybe via prop)

Alternatively I considered adding it myself in the imageComponent method. But it is not pressable

[code]

How do you think this problem could be solved?

[2020-03-04 13:34] #40 closed

[2020-03-04 13:37] marcesdan commented on #40
I resolved using

[code]

[2020-03-05 16:07] LorhanSohaky opened #41 "[BUG] initialPage greater than initialNumToRender"
**To Do First**
- [X] Did you try latest release?
- [X] Did you look for existing matching issues?

**Software Package Version:**
"react-native-gallery-swiper": "^1.25.2"

**Describe the bug**

When I set a `initialPage` greater than`initialNumToRender` the current page is the number in `initialNumToRender`.

**To Reproduce**
[![Edit brave-frost-mjdj1](https://codesandbox.io/static/img/play-codesa

[2020-03-06 00:51] Luehang commented on #41
Hi,

You have to set the `initialNumToRender` so it's greater than or equal to `initialPage` if you want to go further to the correct page.  This package uses the underlying react-native `FlatList` and that is normal behavior for optimization.

[2020-03-06 00:51] #41 closed

[2020-03-13 18:52] tuliofernandes opened #42 "[QUESTION] Can't reach the edge of image when moving with zoom"
Is there a fix for this?
Video: https://photos.app.goo.gl/QohDJeDPhHCzxaAH9

[2020-03-17 19:48] thame commented on #27
Having the same issue using any imageComponent other than <Image />

[2020-03-20 16:18] thame opened #43 "[BUG]"
**To Do First**
- [X] Did you try latest release?
- [X] Did you look for existing matching issues?: [Issue 27](https://github.com/Luehang/react-native-gallery-swiper/issues/27)

**Describe the bug**
When using a custom imageComponent, pinch-to-zoom does not persist (zooms back out to 1x scale). Using the basic React Native Image component works normally.

**To Reproduce**
1. Use `imageComponent`
2

[2020-03-20 16:51] Luehang commented on #27
Hi,

Have you guys trying adding all the props from the parameter `imageProps`?

Example

[code]

Let me know if that works.

[2020-03-23 02:31] ngocht143 commented on #27
@Luehang I tried to add `{...imageProps}` but it still doesn't work (double touch not work, zoomable by fingers but zoom state returns to initial one after release.

[2020-04-01 18:14] RadomirKus commented on #24
Did you find out by any chance please? Thanks

[2020-04-16 14:30] alessiocancian opened #45 "[FEATURE REQUEST] Missing TypeScript definitions"
Using this library with TypeScript gives this error:

Try `npm install @types/react-native-gallery-swiper` if it exists or add a new declaration (.d.ts) file containing `declare module 'react-native-gallery-swiper';`

Would be nice to add a `index.d.ts` file to the project to expose the types for TypeScript compiler and linter.

I'll try to make a Pull Request with the definitions in the next days

[2020-04-16 23:30] hshbaklo commented on #34
The way we solved this is by setting images to an empty array then setting it again to the new images array.
[code]
when the photos array changes, we make
[code]

[2020-04-17 08:56] meienberger commented on #34
The real issue lies into the custom keyExtractor inside react-native-page-list (which they have fixed by the mean time)

They now just have to do a new release of this package with the latest version of react-native-page-list as a dependency (already commited) https://github.com/Luehang/react-native-gallery-swiper/commit/006a7425e2853c2db6cf6b8cb25edf42ca70de25

[2020-04-17 14:31] Richi2293 commented on #39
Anyone who has encountered this problem or knows how I could solve it?

[2020-04-21 05:14] alessiocancian commented on #45
@Luehang

[2020-04-30 20:52] Ailanz commented on #43
Hitting the same issue, anyone have a resolution or work around to this?

Thanks!

[2020-04-30 21:54] Ailanz commented on #43
@Luehang please help! Thanks!

[2020-05-01 03:09] Luehang commented on #45
Thanks for contributing.

[2020-05-01 03:09] #45 closed

[2020-05-06 12:58] gerryfletch commented on #17
I notice that this issue was created a while ago, but I have just successfully used the Gallery Swiper custom image component with FastImage and `react-native-image-progress`. The interfaces should be identical as the image progress library simply wraps it, so it should work with or without.

[code]

This is behaving as expected for me.

[2020-05-06 13:04] gerryfletch commented on #43
I am on the following versions:
[code]

Double tap, pinch, and swipe events are all working as expected, but only tested on emulators `iPhone 11` and `Android Pixel 2XL`.

@Ailanz Can you post your versions? @thame  is only slightly behind compared to mine.

[2020-05-10 01:49] DerekFei opened #47 "Add support for loading state component"
**Is your feature request related to a problem? Please describe.**
When rendering large images 2-3M, user needs to wait several seconds without having any indications.
**Describe the solution you'd like**

Expose a loading state props which requires a customized view
**Describe alternatives you've considered**

No way to achieve this
**Additional context**

No

[2020-05-10 06:15] bureyburey commented on #18
you can provide a random generated **key** prop to the GallerySwiper and change it whenever you need to reload.

kinda hacky but it works

[2020-05-10 13:59] cornelurian commented on #47
+1
A customized view would be great. I have the same problem handling big images...
I know there's a **imageLoaded**  flag (imageComponent -> imageProps), bug I can't figure how to use it..

Thank you,
Cornel

[2020-05-13 13:25] BogdanRad commented on #34
@hshbaklo I tried your solution but it's not working for me :(
![image](https://user-images.githubusercontent.com/40359109/81818173-5b414c00-9536-11ea-9362-9a6019b5b53a.png)

[2020-05-13 15:06] gtwilliams03 opened #48 "[QUESTION] Support for adding a header and/or footer component to the GallerySwiper?"
I would like to display the images in the `GallerySwiper` component with a custom Header and Footer for things like an image caption and some controls for editing or closing the swiper.  I cannot seem to figure out the pattern for doing so.  I am playing with the `imageComponent` prop, but the formatting seems to go awry whenever I add anything except the basic image component.

[2020-05-13 21:09] hshbaklo commented on #34
try let imagesArray= _.cloneDeep(imagesPreview);

_.cloneDeep is for Lodash library which you will have to install.
Let me know if it works.

Best Regards

Houssam

On Wed, May 13, 2020 at 4:25 PM BogdanRad <notifications@github.com> wrote:

[2020-05-13 21:17] BogdanRad commented on #34
@hshbaklo thanks dude. I resolved this problem.

[2020-05-14 14:05] gtwilliams03 commented on #48
I have looked into this more.  And, for some reason, any touchable components (like a react-native or react-native-elements button) are not "pressable."  I am using `react-native-elements` so `Overlay` is akin to a `react-native` `Modal`.

[code]

[2020-05-14 14:14] gtwilliams03 commented on #48
Solved this by moving the controls out of the imageComponent function, wrapping the GallerySwiper with them, and changing the controls based on the onPageSelected method.

[2020-05-14 14:14] #48 closed

[2020-05-16 10:43] BogdanRad commented on #34
@hshbaklo it's working if I delete last image.. if I delete another image it doesn't work...
 I tried both solution:
![image](https://user-images.githubusercontent.com/40359109/82117746-093d3800-977b-11ea-905a-9a3c34b5406d.png)
and
![image](https://user-images.githubusercontent.com/40359109/82117753-14906380-977b-11ea-8d2a-e0d2b69f2596.png)

How can I resolve this problem with re-render after chan

[2020-05-16 11:36] hshbaklo commented on #34
In your first approach, you didnt clone. And in your second, you didn't set the array to empty. Try to combine both.

[2020-05-16 11:49] BogdanRad commented on #34
I tried and without a good result...I lost 2 days with this problem..

[2020-05-18 15:41] kit0kat opened #49 "[FEATURE REQUEST] Add an indicator"
Hey.

Your GallerySwiper is very usefull, thanks for sharing!
There is just one little thing I'm missing: An indicator which shows information about the currently displayed page and the amount of pages. You can see this on Instagram posts for instance.

I've written a componentent which extends GallerySwiper and adds an indicator:

[code]

This looks like:

![Image1](https://i.ibb.co/f10FPQ3/Scree

[2020-05-19 22:06] fernandodehesa commented on #43
I have the same issue. When I used this component with a custom imageComponent (FastImage) in a react-native-modal, does not maintain zoom scale de first time. After closing and reopening the modal works normally

[2020-05-23 07:45] AndreuMira opened #50 "Is it possible to be zoomable in initial render?"
Thank you for your useful library.

I would like to add some custom feature to current library.
Currently the library let all images to set content fit initially.
I would like to fit all images to width so if the ratio of image height/width > device height/width, I wanna fit image width to device width and same ratio.
Then image will be scrollable initially.
I hope you should add this feature.

Th

[2020-05-23 07:49] AndreuMira opened #51 "Vertical image viewer"
Is it possible to make vertical image viewer with same feature?
[https://www.dropbox.com/s/8ueb6ogma51herx/Vertical.mp4?dl=0](Vertical viewer sample)
[https://www.dropbox.com/s/4ift6mfclngh2d6/Horizontal.mp4?dl=0](Horizontal viewer sample)

[2020-05-26 10:23] switch13 opened #52 "onPressOut"
Firstly, NICE WORK!!

I've implemented the GallerySwiper in a model and I can't currently find a way to dismiss it.

I'd like to dismiss the model when the user presses outside of the photo area.

I'm currently handling this by adding dismiss code to the onSwipeDownReleased and onSwipeUpReleased but I wanted to give the user some UI help by pressing outside the image as well.

Thank you in advance

[2020-05-27 11:44] skizzo commented on #27
Did anybody manage to solve this?

[2020-05-27 20:31] kit0kat commented on #39
I got the same problem.

[2020-06-09 01:50] Eralyne commented on #34
Has anyone found a working solution for this?

[2020-06-09 06:53] BogdanRad commented on #34
nooo :(

[2020-06-09 08:58] Eralyne commented on #34
@BogdanRad I actually found a workaround that solved the issue. I'll post it here tomorrow when I find time if you want.

[2020-06-09 09:00] BogdanRad commented on #34
@Eralyne nice. Thanks

[2020-06-11 04:09] Eralyne commented on #34
@BogdanRad
So to solve the issue I made a workaround that re-renders the gallery on every render, thus enabling dynamic array data. It could cause performance issues but I personally haven't noticed any, but I use a max of 50 images. I also switched to the [Smart Gallery](https://github.com/Luehang/react-native-smart-gallery) library by the same person, but this solution should work on this librar

[2020-06-17 04:43] comartekdev commented on #41
I tried your way but it was quite delay

[2020-06-24 20:53] Bayramito opened #53 "Problem with react navigation."
It's not working properly If  I use it in the React Navigation v5.

I put this into a materialTopTabNavigator which has 3 screens side by side, but didn't work well. It's not swiping in the gallery instead swiping between the screens.

I dont know how to prevent this.

[2020-06-30 17:04] wooorm opened #54 "Missing copyright statement"
Furthering from https://github.com/Luehang/react-native-gallery-swiper/pull/44. Your statement here is [incorrect](https://github.com/Luehang/react-native-gallery-swiper/pull/44#issuecomment-625402641):

Your actions are illegal. You *must* credit the original work according to the ISC license. It is a mistake that the original work that you based your derivative work on does not include an explic

[2020-06-30 17:14] Luehang commented on #54
You don't know how ridiculous you sound right now.  Those previous repository don't even have that.

[2020-06-30 17:14] #54 closed

[2020-06-30 17:28] romanonthego opened #55 "Include credit to original library"
https://github.com/archriss/react-native-image-gallery indeed does not have `LICENSE` file, but `ISC` license type is explicitly stated in https://github.com/archriss/react-native-image-gallery/blob/master/package.json#L14
By very definition `ISC` requires copyright notice:
[code]

[2020-06-30 17:46] Luehang commented on #55
Does not have license of original.

[2020-06-30 17:46] #55 closed

[2020-06-30 17:49] gp3gp3gp3 opened #56 "Missing credit for original author"
This repo is a copy paste of https://github.com/archriss/react-native-image-gallery.  Maintainer keeps closing issues related to this.

See:
https://github.com/Luehang/react-native-gallery-swiper/pull/44
https://github.com/Luehang/react-native-gallery-swiper/issues/55
https://github.com/Luehang/react-native-gallery-swiper/issues/54

[2020-06-30 17:54] Luehang commented on #55
"Permission to use, copy, modify, and/or distribute this software for any purpose with or without fee is hereby granted, provided that the above copyright notice and this permission notice appear in all copies."

[2020-06-30 17:57] Luehang commented on #56
If this is a copy and paste, then don't use it!!  Clearly, it isn't.

[2020-06-30 17:58] gp3gp3gp3 commented on #56
I don't use it, and wouldn't for this reason

[2020-06-30 17:59] Luehang commented on #56
You are making false accusations.

[2020-06-30 17:59] shubhaemk commented on #56
It's not about being a copy - paste. Just credit the original author. Please.

[2020-06-30 18:04] Luehang commented on #54
`react-native-image-gallery` is suppose to have this.

<br/>

[code]

[2020-06-30 18:05] gp3gp3gp3 commented on #56
If anyone is looking for a gallery solution to this not maintained by this person, this repo has a great full image swipe-able example https://github.com/wcandillon/can-it-be-done-in-react-native/tree/master/season3/src/WhatsApp

[2020-06-30 18:05] Luehang commented on #56
`react-native-image-gallery` is suppose to have this.

<br/>

[code]

[2020-06-30 18:07] satya164 commented on #56
You should include an attribution just out of respect for the original author, regardless of whether it's legal or not.

Besides, according to the ISC license, you must include the copyright notice and full license text. The original package didn't include the text, which is a mistake.

[2020-06-30 18:08] Luehang commented on #56
If mine is part of that, I would include this.

[code]

[2020-06-30 18:08] #56 closed

[2020-06-30 18:10] Luehang commented on #56
The whole time, maintainers are not putting down.

[code]

[2020-06-30 18:10] satya164 commented on #56
"I'll ignore doing it because they made a mistake" doesn't sound very mature.

[2020-06-30 18:12] Luehang commented on #56
You're talking about being mature.  You're making this very pity.

[2020-06-30 18:13] Luehang commented on #55
The whole time, maintainers are not putting down.

[code]

[2020-06-30 18:14] romanonthego commented on #56
right, @satya164 is the one making this pity...

[2020-06-30 18:14] satya164 commented on #56
What's your reason for not crediting the author? It's a nice thing to do.

[2020-06-30 18:14] wooorm commented on #56
@Luehang I’m happy that you seem to have changed your mind. Per your comment just now, indeed, it should have something like that!

If a project does not have a license, it’s not open source. That is a mistake on their part, but copyright exists in such a way that you don’t need to say you have copyright! You have it anyway! They did decide on an ISC license, which includes a clause that says you

[2020-06-30 18:14] jamiebuilds commented on #56
Lue, no one started off angry with you. You didn't need to go on the defensive, you've only drawn more attention by doing so. No one is threatening to sue you, no one is saying they don't appreciate your work, no one is saying it was wrong of you to fork someone else's code.

You've used open source correctly and given something of value. You haven't broken any laws, you haven't hurt anyone.

But

[2020-06-30 18:41] JosephTico opened #57 "Credit the original dev"
You're being mocked on Twitter:

https://twitter.com/satya164/status/1277988371579707392?s=19

Your attitude is disgusting.

[2020-06-30 18:44] rcstr commented on #57
mae perrito, es vara discutir con este mae

[2020-06-30 18:46] REBELinBLUE commented on #57
I love how he thinks that anyone questioning his behaviour is a junior developer... which also shows what sort of person he is because he thinks someone who is a junior is beneath a senior or lead developer and worthy of contempt rather than someone who a senior or lead should mentor and help to learn

[2020-06-30 18:46] JosephTico commented on #57
No esperaba encontrar un comentario en español aquí 😂

[2020-06-30 19:03] Luehang commented on #57
You guys are bullies.  And you're not being the bigger person.  `archriss` is not the owner.

[2020-06-30 19:03] #57 closed

[2020-06-30 20:05] alanzeino commented on #57
you insulted people in #44 as 'junior developers' even though you clearly have copied someone else's repo as a marketing exercise, you barely respond to issues on your repo, your entire bio is made up and all the self–proclaimed titles you've given yourself are bullshit, and you just seem like a jerk asshole overall and now that you're getting heat you double down instead of apologizing and just a

[2020-06-30 20:07] thblckjkr commented on #56
The notice was on the readme on the [first commit](https://github.com/Luehang/react-native-gallery-swiper/commit/6705f094f7bc510ff4a166514b5477ae742e2ff1?diff=unified#diff-04c6e90faac2675aa89e2176d2eec7d8R15). I wonder what made him change his mind.

[2020-06-30 20:13] nico-abram commented on #56
@Luehang If I understand correctly you're trying to claim that "No copyright notice and no license" means it's up for free. This is not correct. It is actually *worse* for someone looking to use a library if it has none of those. Things aren't public domain by default (And "public domain" is iirc not a thing in some countries). If it's unlicensed you are actually in shakier grounds than if they us

[2020-06-30 20:25] ocdtrekkie commented on #56
Looks like he deleted the credit to the original library (which wasn't even a link to their GitHub repo) four months into this repo's lifespan. It's kinda funny because half way through that he edited the name of the original library (which made it incorrect) as well. But it was far from an oversight that the line was there. He just seems to have changed his mind about acknowledging the original a

[2020-06-30 20:55] griffinmartin opened #58 "Credit the original author"
@Luehang has ripped this project from https://github.com/archriss/react-native-image-gallery and claimed it as his own. Issues related to this are being closed.

[Explanation on Twitter 🍿](https://twitter.com/satya164/status/1277988371579707392)

See:
#44
#54
#55
#56
#57

[2020-06-30 21:00] tweedge commented on #58
It was in the original README too as pointed out by [@killiman](https://twitter.com/kiliman/status/1278035675431010305)

https://github.com/Luehang/react-native-gallery-swiper/commit/6705f094f7bc510ff4a166514b5477ae742e2ff1?short_path=04c6e90#diff-04c6e90faac2675aa89e2176d2eec7d8

"Improved and changed on top of `react-native-image-gallery.`"

[2020-06-30 21:05] Luehang commented on #58
Not original.  And this software package is no longer maintained.

[2020-06-30 21:05] #58 closed